.logo{
    width: 70px;
    height: 70px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;

}

.authentication {
    color: white;
  }

.authentication-link {
    color: #F25C05;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}